<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VidSoom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VidSoom.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VidSoom.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <VidSoom.Properties.Settings>
      <setting name="Ruta" serializeAs="String">
        <value />
      </setting>
      <setting name="Idioma" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Updates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxDescargas" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MaxVelocidad" serializeAs="String">
        <value>0</value>
      </setting>
    </VidSoom.Properties.Settings>
    <VidSoom.Settings1>
      <setting name="Ruta" serializeAs="String">
        <value />
      </setting>
      <setting name="Updates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxDescargas" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MaxVelocidad" serializeAs="String">
        <value>0</value>
      </setting>
    </VidSoom.Settings1>
  </userSettings>
  <applicationSettings>
    <VidSoom.Settings1>
      <setting name="Idioma" serializeAs="String">
        <value>0</value>
      </setting>
    </VidSoom.Settings1>
  </applicationSettings>
</configuration>