<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="servicestack:license" value="2178-e1JlZjoyMTc4LE5hbWU6QmUgRnJlZSBOZXR3b3JrcyBTTCxUeXBlOk9ybUxpdGVJbmRpZSxIYXNoOlNvZmcwbVRjRlJiTWVCRGhXbjhXTlBzMWE5dmZuYzJLc0R6cEZHbUNpcXVnT1p2M1NCKzJBM2RxMmxhekFETVRaRHVObWh0a2VpRWNVMmdrY3dYR0pNYmFKaXpkNnlvQUlaaXpSOUN1azNka1RmcVlrYllHTkpkWHBocVFWVHBlMmdQejZpQnAxSSsySTROemtuN3NLTGRPZDRGOFBqUGpTREVzb1llaUMwcz0sRXhwaXJ5OjIwMTYtMDEtMjh9"/>
  </appSettings>
  
  <connectionStrings>
    <clear/>
    <add name="db" connectionString="Server=localhost;Database=MagnoMedia;Uid=root;Pwd=infosys;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
