@model IEnumerable<MagnoMedia.Data.Models.ThirdPartyApplication>

    @{
        ViewBag.Title = "App Priority";
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
    <style>
        #listApp li {
            border: 1px solid #DADADA;
            background-color: #EFEFEF;
            padding: 3px 5px;
            margin-bottom: 3px;
            margin-top: 3px;
            width: 100px;
            list-style-type: circle;
            font-family: Arial, Helvetica, sans-serif;
            color: #666666;
            font-size: 0.8em;
        }

            #listApp li:hover {
                background-color: #FFF;
                cursor: move;
            }
    </style>

    <h2>Third Party Application Priority</h2>
    <br /><br />
    <small>Top in list: Highest Priority</small><br />
    <small>Bottom in list: Lowest Priority</small>

    <br />
    <br />
    <ul id="listApp">
        @foreach (var item in Model)
        {

            <li id="@item.Id">@item.Name</li>
        }
    </ul>
    <br /><br />
    <button onclick="savePriority();">Save</button>

    <script src="~/Scripts/jquery-1.2.6.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.5.1.packed.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script type="text/javascript">
        /////////////////////////////////////////////////////////////////
        /////  EDIT THE FOLLOWING VARIABLE VALUES  //////////////////////
        /////////////////////////////////////////////////////////////////

        // set the list selector
        var setSelector = "#listApp";
        // set the cookie name
        var setCookieName = "listOrder";
        // set the cookie expiry time (days):
        var setCookieExpiry = 7;

        /////////////////////////////////////////////////////////////////
        /////  YOU PROBABLY WON'T NEED TO EDIT BELOW  ///////////////////
        /////////////////////////////////////////////////////////////////

        // function that writes the list order to a cookie
        function getOrder() {
            // save custom order to cookie
            $.cookie(setCookieName, $(setSelector).sortable("toArray"), { expires: setCookieExpiry, path: "/" });
        }

        // function that restores the list order from a cookie
        function restoreOrder() {
            var list = $(setSelector);
            if (list == null) return

            // fetch the cookie value (saved order)
            var cookie = $.cookie(setCookieName);
            if (!cookie) return;

            // make array from saved order
            var IDs = cookie.split(",");

            // fetch current order
            var items = list.sortable("toArray");

            // make array from current order
            var rebuild = new Array();
            for (var v = 0, len = items.length; v < len; v++) {
                rebuild[items[v]] = items[v];
            }

            for (var i = 0, n = IDs.length; i < n; i++) {

                // item id from saved order
                var itemID = IDs[i];

                if (itemID in rebuild) {

                    // select item id from current order
                    var item = rebuild[itemID];

                    // select the item according to current order
                    var child = $("ul.ui-sortable").children("#" + item);

                    // select the item according to the saved order
                    var savedOrd = $("ul.ui-sortable").children("#" + itemID);

                    // remove all the items
                    child.remove();

                    // add the items in turn according to saved order
                    // we need to filter here since the "ui-sortable"
                    // class is applied to all ul elements and we
                    // only want the very first!  You can modify this
                    // to support multiple lists - not tested!
                    $("ul.ui-sortable").filter(":first").append(savedOrd);
                }
            }
        }

        // code executed when the document loads
        $(function () {
            // here, we allow the user to sort the items
            $(setSelector).sortable({
                axis: "y",
                cursor: "move",
                update: function () { getOrder(); }
            });

            // here, we reload the saved order
            restoreOrder();
        });
    </script>
    <script type="text/javascript">
        function savePriority() {
            var list = $(setSelector);
            if (list == null) return

            // fetch current order
            var items = list.sortable("toArray");


            var priorityString = '';

            for (var v = 0, len = items.length; v < len; v++) {
                priorityString = priorityString + items[v] + '|';
            }

            alert(priorityString);

            //send this string to a link via quesrysting, extract their order and update list of applications
        }
    </script>
